.gliderMode {
    position: relative;
    width: 150px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#gliderMode-checkbox {
    display: none;
}

.gliderMode-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.gliderMode-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    text-align: center;
}

.gliderMode-inner:before, .gliderMode-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

.gliderMode-inner:before {
    content: "Pointer mode";
    background-color: #EEEEEE;
    color: #999999;
}

.gliderMode-inner:after {
    content: "Glider mode";
    background-color: #555555;
    color: white;
}

#gliderMode-checkbox:checked + .gliderMode-label .gliderMode-inner {
    margin-left: 0;
}